    <!--==========================
      Subscribe Section
    ============================-->
    <section id="subscribe">
      <div class="container wow fadeInUp">
        <div class="section-header">
          <h2>Newsletter</h2>
          <p>Sei Teil unserer Community! Abonniere unseren Charity Newsletter!</p>
        </div>

        <form action="http://eepurl.com/gRYUwf" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
          <div class="form-row justify-content-center">
            <div class="col-auto">
              <input type="email" name="EMAIL" id="mce-EMAIL" class="form-control" placeholder="Deine Email-Adresse">
              <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
              <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_579798ca84aaf1326e2809b46_9456f33919" tabindex="-1" value=""></div>
            </div>
              <div class="col-auto">
              <button type="submit">Subscribe</button>
            </div>
          </div>
        </form>

      </div>
    </section>
