<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-159293946-1"></script>
    <script> window.dataLayer = window.dataLayer || []; function gtag(){dataLayer.push(arguments);}
     gtag('js', new Date()); gtag('config', 'UA-159293946-1');</script>
    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src='https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-TXMPGL4');</script>
    <!-- End Google Tag Manager -->

    <meta charset="utf-8">
    <title>{{ page.title}}</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="charity, spende, ecommerce" name="keywords">
    <meta content="" name="description">
    <meta property="og:image" content="https://ecommerce-charity.de/img/fb_ecommerce_charity_dinner.jpg" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://ecommerce-charity.de/"" />
    <meta property="og:title" content="Networking meets Charity" />
    <meta property="og:description" content="Verbinde einen tollen Abend in unserem inspirierenden E-Commerce Netzwerk mit Deinem Engagement für die Zukunft unserer Kinder. Mit 100 exklusiven Gästen wollen wir eine Spendensumme in Höhe von Euro 40.000,– erreichen." />
    
    
    <!-- Favicons -->
    <link href="img/favicon.png" rel="icon">
    <link href="img/apple-touch-icon.png" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link
        href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Raleway:300,400,500,700,800"
        rel="stylesheet">

    <!-- Bootstrap CSS File -->
    <link href="lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Libraries CSS Files -->
    <link href="lib/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link href="lib/animate/animate.min.css" rel="stylesheet">
    <link href="lib/venobox/venobox.css" rel="stylesheet">
    <link href="lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">

    <!-- Main Stylesheet File -->
    <link href="css/style.css" rel="stylesheet">

    <!-- =======================================================
    Theme Name: TheEvent
    Theme URL: https://bootstrapmade.com/theevent-conference-event-bootstrap-template/
    Author: BootstrapMade.com
    License: https://bootstrapmade.com/license/
  ======================================================= -->
</head>

<body>

    <!--==========================
    Header
  ============================-->
    <header id="header">
        <div class="container">

            <div id="logo" class="pull-left">
                <!-- Uncomment below if you prefer to use a text logo -->
                <h1><a href="#main">E-Commerce <span>Charity</span></a></h1>
            </div>

            <nav id="nav-menu-container">
                <ul class="nav-menu">
                    {% assign sections = site.sections | sort: 'order' %}
                    {% for section in sections %}
                    {% if section.navtitle == nil or section.active != true %}
                    {% continue %}
                    {% endif %}
                    {% if section.slug == "intro" %}
                    <li class="menu-active"><a href="#{{ section.slug }}">{{ section.navtitle }}</a></li>
                    {% elsif section.slug == "buy-tickets" %}
                    <li class="buy-tickets"><a href="#{{ section.slug }}">{{ section.navtitle }}</a></li>
                    {% else %}
                    <li><a href="#{{ section.slug }}">{{ section.navtitle }}</a></li>
                    {% endif %}
                    {% endfor %}
                </ul>
            </nav><!-- #nav-menu-container -->
        </div>
    </header><!-- #header -->
